<div class="container">
  <footer class="footer">
  <small>
    Copyright &copy; <a href="#">Yadi Blog</a>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to "About", link_path %>
      </li>
    </ul>
  </nav>
  </footer>
</div>